apiVersion: v1
kind: Service
metadata:
  name: openwebui-service
  labels:
    app: openwebui
    app.kubernetes.io/name: openwebui
    app.kubernetes.io/component: frontend
spec:
  selector:
    app: openwebui
  ports:
  - port: 8080
    targetPort: http
    protocol: TCP
    name: http
  type: ClusterIP
